.mobile-block {
  display: none; }
  @media (min-width: 992px) {
.navbar {
	padding:0 1rem;
}
.section-footer .dont-collapse-sm{ display:block !important;}
.allitem-slider .owl-dots {
	display: none;
}
.modile-responsive{
  display: none;
  }
}
@media (min-width: 1040px) {
  .container {
    padding-left:50px !important;
    padding-right:50px !important; } }
@media (max-width: 1140px) {
  .card-deal .col-heading {
    min-width: 280px;
    flex-basis: 280px; }

  .nav-home-aside {
    width: 200px; } }
@media (max-width: 991px) {
	.section-footer .title{
	font-size: 13px;
	font-size: 0.8125rem;
	cursor: pointer;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
	margin: 0 -15px 0 -15px;
	padding: 15px 15px 15px 15px;
	display: block;
}
aside.col-md.col-6 {
	width: 100% !important;
	max-width: 100%;
	flex: 100%;
}
	.section-footer .title::after {
	content: "+";
	width: 20px;
	display: block;
	float: right;
	font-size:16px;
}


  /* small tablet devices */
  .table-shopping-cart tr td:first-child {
    width: 250px; }
.table-shopping-cart.table th {
	padding-left: 10px;
	padding-right: 10px;
	font-weight: bold;
	color: #000;
	font-size: 12px;
}
  .table-shopping-cart .itemside .info {
    padding: 0; }
  .table-shopping-cart .itemside .aside {
    display: none; }

  .card-deal {
    display: block; }
    .card-deal .col-heading {
      min-width: 280px; }

  .slider-home-banner {
    margin-bottom: 20px; }
    .slider-home-banner .carousel-item img {
      max-height: 350px; }
      .destop-responsive{
        display: none;
      }
	.banner-pt {
		margin: 0 auto;
		min-width: 100%;
		max-width: 100%;
		padding: 0px;
	}
	.carousel-control-prev, .carousel-control-next {
		top: calc(18% - 0px);
		width: 24px;
		height: 50px;
	}
      /*.ma5menu__toggle.top-toggle {
  display: block;
}*/
body{
  padding-top: 0px;
}
.btn-right .btn-btom {
    padding: 18px 0px;
    margin-bottom: 10px;
}
.btn-left .btn-btom-1 {
    padding: 18px 0px;
    margin-bottom: 10px;
}
	.mobile-order-first {
		order: -1;
	}

	.mobile-order-1 {
		order: 1;
	}

	.mobile-order-2 {
		order: 2;
	}

	.mobile-order-3 {
		order: 3;
	}

	.mobile-block {
		display: block;
	}

	input.btn.btn-login.click-open {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		background-color: transparent;
		color: #000;
		padding: 0px;
	}

	.header-main .container {
		max-width: 100%;
		max-width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}

	.header-main .row.align-items-center {
		margin: 0px;
	}

	.widget-header .icon-area .notify {
		top: 0px;
		right: 30%;
	}

	.widget-header .icon-area i {
		margin-top: 0px;
	}

	.header-main {
		position: absolute;
	}

	.section-header .search-header {
		border-radius: 0px;
	}

	.modile-res-search {
		margin: 10px 0px;
	}

	.desktop-container {
		padding-top: 100px;
	}

	.sticky .desktop-container {
		padding-top: 50px;
		box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
		background-color: transparent;
	}

	.input-group-append {
		margin-left: 0px !important;
	}

	.sticky {
		position: fixed;
		top: 0;
		width: 100%;
		left: 0;
		background-color: #fff;
		margin: 0;
		box-shadow: 0 0 6px #0003;
		margin-top: 0px !important;
		z-index: 9;
	}

		.sticky .col-xl-2.col-lg-2.col-md-4.mobile-order-1.col-8 {
			display: none;
		}

		.sticky .col-xl-5.col-lg-5.col-md-8.mobile-order-2.col-4 {
			display: none;
		}

	._3wFoIb ._3oBhRa._4H6HH5 {
		display: none;
	}

	._2hriZF ._2doB4z {
		left: 42px;
		top: 25px;
		background: #2771ea;
		z-index: 1;
		font-size: 24px;
		box-shadow: none;
		transform: translate(-25px, 0px);
	}

	._2hriZF {
		display: inline-block;
	}

		._2hriZF ._2MlkI1 {
			max-width: 100%;
			min-height: 100%;
			max-height: 100%;
		}

	._36HLxm {
		padding: 20px 35px 16px;
	}

	.col-3-5 {
		width: 100%;
	}

	.IiD88i {
		margin-top: 20px;
	}

	._3wFoIb {
		max-width: 100% !important;
		min-width: 100% !important;
	}

	.widget-header .text {
		font-size: 12px;
	}

	.mobile-cicon {
		overflow-x: auto;
		display: flex;
	}

	.menu-icons-c {
		width: 66px;
		margin: 0px;
		border-radius: 0px;
	}


	.KdL3Vb._1Zogjd ._2JQgSY {
		display: none;
	}
	.mobile-at {
		display: none !important;
	}
	.KdL3Vb._1Zogjd ._1oHPGm {
		width: calc(100% - 0px);
	}
	._1AtVbE._1AtVbE-1{
		display: none !important;
	}
	#top-header-menu .widget-header {
		margin-right: 0px !important;
		margin: 0px 0px;
	}
		#top-header-menu .widget-header .widget-view {
			padding: 5px 7px;
		}
	.ma5menu__toggle.top-toggle {
		display: inline-block;
	}
       }
@media all and (max-width: 767px) {
  .nav-home-aside {
    width: 100%; }
	
	.split_col .offer_badge {
	font-size: 10px;
	padding: 2px 0 0;
	
}
.FreeInsllation{margin-bottom:20px;}
.slider-home-banner .carousel-indicators li {
	background-color: #333;
}
  .list-inline-item {
    margin-bottom: 10px; }

  .slider-home-banner {
    margin-bottom: 20px; }
    .slider-home-banner .carousel-item img {
      max-height: 250px; }

.search-header .form-control {
	height: 38px;
	margin-top: -1px;
}
.section-header .search-header .btn.btn-primary {
	border-radius: 0;
	font-weight: 400;
	font-size: 14px;
	height: 36px;
}
.section-header .search-header .form-control, .section-header .search-header .custom-select {
	font-size: 13px !important;
	padding: 6px;
}
.header-main {
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
.slider-home-banner .carousel-indicators {
	bottom: -24px !important;
}
  .section-header .logo {
    max-height:50px;
    width: auto; }

  .banner-quote {
    min-height: auto; }

  .icontext {
    margin-bottom: 20px; }

  .card-post {
    margin-bottom: 20px; }

  .card-product-grid .img-wrap {
    height: 200px; }

  .section-footer .title {
    margin-bottom: 0; }

  .item-feature {
    margin-bottom: 20px; }

  .mobile-order-first {
    order: -1; }

  .mobile-order-1 {
    order: 1; }

  .mobile-order-2 {
    order: 2; }

  .mobile-order-3 {
    order: 3; }

  .mobile-block {
    display: block; }

  .padding-y {
    padding-top: 20px;
    padding-bottom: 20px; }

  .padding-top {
    padding-top: 20px; }

  .padding-bottom {
    padding-bottom: 20px; }

  .padding-y-lg {
    padding-top: 30px;
    padding-bottom: 30px; }

  .padding-top-lg {
    padding-top: 30px; }

  .padding-bottom-lg {
    padding-bottom: 30px; } 
	.m-no-padding{padding:0 !important; border:0;}
	/*.ma5menu__toggle.top-toggle {
	display: none;
}*/
.search-header {
	margin-top: 5px;
}

.add-cart .btn {
	font-size: 13px;
	padding: 7px 5px;
	white-space: nowrap;
}
.card-deal.px-3 {
	padding: 0 !important;
}
.allitem-slider .item .card-product-grid {
	margin: 1px;
}
.section-header .search-header .form-control, .section-header .search-header .custom-select {
	border-radius: 0;
  z-index: 0;
}
.owl-button .owl-nav button.owl-next  {
	left: -18px;
}
.owl-button .owl-nav button.owl-prev {
	right: -18px;
}
.owl-button .owl-nav button{background:#FFF; top:33%;}
.sizes span {
    width: 40px;
    min-width: 40px;
}
.seller-text {
    width: 40px;
}
.return-policy {
    width: 100%;
}
.sunglas ul{
  margin: 0px;
}
.sunglas ul li:last-child{
  float: none;
}
	._3ZYowz ._2CP_Bu {
		display: none;
	}
	._1AtVbE {
		padding: 0px !important;
	}
	.img-prodecu-de{
		display:none;
	}
	.res-mobile{
		padding:0px;
	}
}
	
	
	@media all and (max-width: 479px) {
		.slider-home-banner {
			margin-bottom: 4px;
		}
		._1bEAQy {
			height: 170px;
			margin-top: 112px;
		}
	.slider-home-banner .carousel-item img {
	height:170px;
	-o-object-fit: cover;
	object-fit: cover;
}
.card-product-grid .img-wrap {
	height: 130px;
}

.btn-outline-primary {
	font-size: 13px;
	padding: 5px 11px;
}
.table-shopping-cart .itemside .info a {
	font-size: 13px;
}
.table-shopping-cart.table td, .table-shopping-cart.table th {
	padding-left: 10px;
	padding-right: 10px;
}
.sizes span {
    width: 100%;
    min-width: 100%;
    margin-bottom: 10px;
}
.sizes .menu-1{
  margin: 0px;
	}
  .res-mobile{
    padding: 0px !important;
  }
  .res-margin-mobile{
    margin: 0px;
  }
  .available-offers ul li img {
    width: 4%;
    margin-top: 5px;
}

.available-offers ul{
  margin: 0px;
}
.menu-1.menu-border .menu-sun {
    width: 55px;
}
.sizes {
    margin-top: 10px;
}
		.KdL3Vb._1Zogjd ._1oHPGm {
			width: calc(100% - 0px);
		}

		._3YgSsQ{
			width: 190px;
		}
		._10pg75 {
			height: 100px;
		}
		.CXW8mj {
			position: relative;
			margin: 0 auto;
			height: 100px;
			width: 160px;
		}

		/*.KdL3Vb._1Zogjd ._1oHPGm {
			width: calc(100% - 0px);
		}*/
		/*
		._1AtVbE {
			display: none;
		}*/
		.KdL3Vb._1Zogjd ._2JQgSY {
			display: none;
		}
		/*.mobile-at {
			display: none !important;
		}*/

		._1566dU {
			padding: 10px 5px !important;
		}
		/*.mYI3GX-slider .owl-carousel.owl-drag .owl-item.active {
			border-right: 1px solid #ddd;
		}*/
		
}
