@using System.Configuration;
@{
    var version = ConfigurationManager.AppSettings["jsversion"].ToString();
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="~/Content/CSS/demo_3-style.css?ver=@version" rel="stylesheet" />
<link href="~/Content/toastr.css?ver=@version" rel="stylesheet" />
<link href="~/Content/Site.css?ver=@version" rel="stylesheet" />
<link href="~/Content/toastr.min.css?ver=@version" rel="stylesheet" />
<script src="~/Js/Common.js?ver=@version"></script>
<script src="~/Scripts/toastr.js?ver=@version"></script>
<style>
    body {
        padding: 0px;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ShivFactory</title>
</head>
<body>
    <div id="loader" class="center"></div>
    <section>
        <header class="header-logo">
            <img style="margin-top: 0px; height: 66px;" src="/Content/AdminImg/logo.png">
        </header>
        <div class="sc-fzolej jazogj">

            @RenderBody()

        </div>
    </section>
    

    @*Showing toaster message*@
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
    toastr.success('@TempData["SuccessMessage"].ToString()');
        </script>
    }
    else if (TempData["ErrorMessage"] != null)
    {
        <script>
            toastr.error('@TempData["ErrorMessage"].ToString()');
        </script>
    }
</body>
</html>

