@using System.Configuration;
@using ShivFactory.Business.Repository;
@using ShivFactory.Business.Models.Other;
@using ShivFactory.Business.Model.Common
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/_WebSiteLayout.cshtml";
    var version = ConfigurationManager.AppSettings["jsversion"].ToString();
    RepoCookie repoCookie = new RepoCookie();
    var UserFName = repoCookie.GetStringCookiesValue(CookieName.FirstName);
    var UserLName = repoCookie.GetStringCookiesValue(CookieName.LastName);
    var role = repoCookie.GetStringCookiesValue(CookieName.Role);
    Utility util = new Utility();
    RepoUser repoUser = new RepoUser();
    var UserImage = repoUser.GetUserImage(util.GetCurrentUserId());
}
<script src="~/Js/UserProfile.js"></script>
<section class="profile" >
    <div class="personal">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3" style="margin-top: 0px; background:white">

                    <div class="_3E8aIl">
                        <div class="nUdcwy row order-1">
                            <img class="_3X2gOt" height="50px" width="50px" src="@UserImage">
                            <div class="DxGiT2">
                                <div class="_1ruvv2">
                                    <div class="_14mvAI"><a href="/Customer/CustomerProfile/">Hello @UserFName</a></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="my-order">
                        <div class="my-order-1">
                            <div class="my-order-2 ">
                                <i class="fa fa-first-order" aria-hidden="true"></i>
                                <a href="#">
                                    MY ORDERS
                                    <span><i class="fa fa-angle-right"> </i></span>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="my-order-1">
                                <div class="my-order-2 order-2-1 ">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <a href="/Customer/Address/" style="cursor: initial;">
                                        ADDRESS SETTINGS
                                    </a>
                                </div>
                            </div>
                            @*<div>
                                <a href="#">
                                    <div class="Information">Add New Address</div>
                                </a>
                                    <div class="manage-addresses order-2-1">Manage Addresses</div>
                            </div>*@
                        </div>
                        <hr>
                        <div>
                            <div class="my-order-1">
                                <div class="my-order-2">
                                    <i class="fa fa-money" aria-hidden="true"></i>
                                    <a href="#" style="cursor: initial;">
                                        PAYMENTS
                                    </a>
                                </div>
                            </div>
                            @*<div>
                                <a href="#">
                                    <div class="manage-addresses">
                                        Gift Cards
                                        <span class="PKhkts">₹ 0</span>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="manage-addresses">Saved Cards</div>
                                </a>
                            </div>*@
                        </div>
                        <hr>
                        <div class="my-order-1">
                            <div class="my-order-2">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                                <a href="#">
                                    MY CHATS
                                    <span><i class="fa fa-angle-right"> </i></span>
                                </a>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <div class="my-order-1">
                                <div class="my-order-2">
                                    <i class="fa fa-folder-open" aria-hidden="true"></i>
                                    <a href="/Customer/Wishlist" style="cursor: initial;">
                                        MY WISHLIST
                                    </a>
                                </div>
                            </div>
                        </div>
                        @*<div class="order-3">
                            <a href="#">
                                <div class="manage-addresses">My Wishlist</div>
                            </a>
                        </div>*@
                        <hr>
                        <div>
                            <div class="my-order-1">
                                <div class="my-order-2">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                    <a href="#" style="cursor: initial;">
                                        Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="profile-but">
                        <div class="visited">
                            Frequently Visited:
                        </div>
                        <div>
                            <span class="_2YCxI1"><a href="/Home/">Home</a></span>
                            <span class="_2YCxI1" onclick="userprofile.BindUserPasswordDetails();">Change Password</span>
                            <span class="_2YCxI1">Track Order</span>
                            <span class="_2YCxI1">Help Center</span>
                        </div>
                    </div>
                </div>

                @RenderBody()

            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(".frequently .goes").click(function () {
        $('.frequently .panel').css('display', 'none');
        $('.frequently .accordion').removeClass('active');
        $(this).children('.panel').css('display', 'block');
        $(this).children('.accordion').addClass('active');
    });
</script>
<script>
    jQuery(".order-1").click(function () {
        jQuery('.profile-2').addClass("hover-1");
    });
    jQuery(".order-2").click(function () {
        jQuery('.frequently').addClass("hover-2");
    });
    jQuery(".order-3").click(function () {
        jQuery('.fullpage-1').addClass("hover-3");
    });

    jQuery(".order-2-1").click(function () {
        jQuery('.frequently').addClass("hover-2");
    });
    jQuery(".order-2-1").click(function () {
        jQuery('.profile-2 ').removeClass("hover-1");
    });
</script>
<script>

    jQuery(".order-2").click(function () {
        jQuery('.profile-2').removeClass("hover-1");
    });
    jQuery(".order-3").click(function () {
        jQuery('.frequently').removeClass("hover-2");
    });
    jQuery(".order-1").click(function () {
        jQuery('.frequently ').removeClass("hover-2");
    });

    jQuery(".order-3").click(function () {
        jQuery('.profile-2').removeClass("hover-1");
    });
    jQuery(".order-1").click(function () {
        jQuery('.fullpage-1').removeClass("hover-3");
    });
    jQuery(".order-2").click(function () {
        jQuery('.fullpage-1 ').removeClass("hover-3");
    });
</script>