.rechrge #pills-tabContent {
	background: #FFF;
	padding: 9px 15px;
	background: #fff;
	border-radius:3px;
	float: left;
	width: 100%;
}

.rechrge .nav-pills .nav-link.active, .rechrge .nav-pills .show > .nav-link {
	color: #e7ee21;
	background-color: transparent;
	position:relative;
}
.rechrge .nav-pills .nav-link {
	color: #FFF;
}

.rechrge .form-control, .rechrge .custom-select {
	border-color: #d5d3d3;
	font-size: 14px;
	color: #777;
	border-radius: 2px;
}

.rechrge .input-group-text {
	border-radius: 2px;
	padding:2px 10px;
}


.proceed-btn {
	border-radius: 2px;
	background: #febd69;
	border-color: #febd69;
}
.rechrge .form-group {
	margin-bottom: 2px;
}

.rechrge .nav-pills .nav-link.active::after {
	background: #e7ee21;
	width: 60%;
	height: 2px;
	content: "";
	position: absolute;
	bottom: 7px;
	left: 0;
	right: 0;
	margin: auto;
	display: inline-block;
}
@media (max-width: 991px) {
#pills-tab {
	display: flex;
	flex-wrap: inherit;
	width: 100%;
	overflow-x: scroll;
}

.rechrge .nav-pills .nav-link {
	color: #FFF;
	white-space: nowrap;
}

}