@model ShivFactory.Business.Repository.Website.HomePageResponse

<div class="banner-pt">
    <div class="_1YokD2 _2GoDe3">
        <div class="_1AtVbE" style="flex-grow: 1; overflow: auto; padding: 0px 0px 10px;">
            <div class="_3E8aIl KdL3Vb _1Zogjd">
                <div class="_2JQgSY" style="background-image: url('https://localhost:44353/Content/UploadedImages/Images/Layers.jpg'); background-position: 0px bottom;">
                    <div class="_2CIhCB">
                        <h2 class="_2cAig-">Top Offers</h2>
                        <div class="_30kJiF">
                            <a class="_2KpZ6l _3dESVI" href="#">VIEW ALL</a>
                        </div>
                    </div>
                </div>
                <div class="_1oHPGm">
                    <div class="_3ZYowz _2CfYpZ" style="">
                        <div class="mYI3GX mYI3GX-slider" id="mYI3GX-1">
                            <div class="_2hKRMr _2CfYpZ" style="width: 1866px;">
                                <div class="_37K3-p" style="transform: translateX(0px);">


                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="Top 4K Televisions (From ₹23,999)" src="~/Content/UploadedImages/Images/led.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Top 4K Televisions</div>
                                                <div class="_2tDhp2">From ₹23,999</div>
                                                <div class="_3khuHA">Mi, Oneplus, realme &amp; more</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/ac.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Latest Launches</div>
                                                <div class="_2tDhp2">From ₹19,490</div>
                                                <div class="_3khuHA">Samsung, LG & more</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/laptop.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Best Gaming Deals</div>
                                                <div class="_2tDhp2">From ₹46,990</div>
                                                <div class="_3khuHA">Acer, Hp, Asus & More</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/sandisk-sdcz48-128.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">128 GB Pendrives</div>
                                                <div class="_2tDhp2">From ₹1359</div>
                                                <div class="_3khuHA">SanDisk, Kingston & More</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/narzo-phone.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">realme Narzo 30A</div>
                                                <div class="_2tDhp2">From ₹7,999</div>
                                                <div class="_3khuHA">₹2,000 off</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/seagate-ste.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">4 TB Hard Disks</div>
                                                <div class="_2tDhp2">From ₹7899</div>
                                                <div class="_3khuHA">Toshiba, WD & More</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/smart-health-scale-hs11.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Top Weighing Scales</div>
                                                <div class="_2tDhp2">From ₹699</div>
                                                <div class="_3khuHA">Check it to Control it</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/34b4ce6f4acf3b54.jpg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Top IR Thermometers</div>
                                                <div class="_2tDhp2">From ₹799</div>
                                                <div class="_3khuHA">Highly Accurate</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="_35l9rN rek5UH _1tKnHb">
                                <div class="_2kgArB _3y7w9p" id="slider-a-2">
                                    <svg width="14.6" height="24" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class=""><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="_23HYg_"></path></svg>
                                </div>
                            </div>
                            <div class="_35l9rN _31Mq1b">
                                <div class="_2kgArB _2CP_Bu" id="slider-a-1">
                                    <svg width="14.6" height="24" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="_1xtBwk"><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="_23HYg_"></path></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_1AtVbE mobile-at" style="flex: 0 0 248px; max-width: 248px; padding: 0px 0px 10px 10px;">
            <div class="_3E8aIl _1o5-sV">
                <a class="_1Y5PSy" href="#">
                    <div class="dvoOzE">
                        <img class="_14mA3H" src="~/Content/UploadedImages/Images/offers.jpg" alt="DR PHYSIO">
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="_1AtVbE _1AtVbE-1  col-12-12" style="padding:0px 0px 10px 0px">
        <div class="_2_b_Xk row">
            <div class="_2LURSF col col-4-12">
                <a class="_1AcS-S" href="#">
                    <div class="_1bEAQy" style="padding-top:53.646%;width:100%">
                        <img class="_2OHU_q aA9eLq" alt="realme 8 " src="~/Content/UploadedImages/Images/never-before-offer.jpg">
                    </div>
                </a>
            </div>
            <div class="_2LURSF col col-4-12">
                <a class="_1AcS-S" href="#">
                    <div class="_1bEAQy" style="padding-top:53.646%;width:100%">
                        <img class="_2OHU_q aA9eLq" alt="tv" src="~/Content/UploadedImages/Images/exciting-tv.jpg">
                    </div>
                </a>
            </div>
            <div class="_2LURSF col col-4-12">
                <a class="_1AcS-S" href="#">
                    <div class="_1bEAQy" style="padding-top:53.646%;width:100%">
                        <img class="_2OHU_q aA9eLq" alt="Samsung F62" src="~/Content/UploadedImages/Images/samsung-phone.jpg">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="banner-pt">
    <div class="_1YokD2 _2GoDe3">
        <div class="_1AtVbE" style="flex-grow: 1; overflow: auto; padding: 0px 0px 10px;">
            <div class="_3E8aIl KdL3Vb _1Zogjd">
                <div class="_2JQgSY" style="background-image: url('https://localhost:44353/Content/UploadedImages/Images/Layers-pink.jpg'); background-position: 0px bottom;">
                    <div class="_2CIhCB">
                        <h2 class="_2cAig-">Fashion Brands on Discounts</h2>
                        <div class="_30kJiF">
                            <a class="_2KpZ6l _3dESVI" href="#">VIEW ALL</a>
                        </div>
                    </div>
                </div>
                <div class="_1oHPGm">
                    <div class="_3ZYowz _2CfYpZ" style="">
                        <div class="mYI3GX mYI3GX-slider" id="mYI3GX-2">
                            <div class="_2hKRMr _2CfYpZ" style="width: 1866px;">
                                <div class="_37K3-p" style="transform: translateX(0px);">
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="Top 4K Televisions (From ₹23,999)" src="~/Content/UploadedImages/Images/32-skdskd5919-biba-original-imaftfykjuhczk8q.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">W, Biba, Aurelia...</div>
                                                <div class="_2tDhp2">50-60%  Off</div>
                                                <div class="_3khuHA">Trendy Kurtas & Sets</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/s-var1180049-pz1180043-varanga-original-imafbw5j9dkbfhw9.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">LVaranga, Alena, Mokshi..</div>
                                                <div class="_2tDhp2">60-80% Off</div>
                                                <div class="_3khuHA">Kurta, Sets...</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/mosaic-mosaic-77-royal-blue-check-in-luggage-safari-30-original-imafd5zeshybfuae.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Lowest Prices on Suitcases</div>
                                                <div class="_2tDhp2">Min 70% Off</div>
                                                <div class="_3khuHA">Skybags, Safari & more</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/ecf53c70cb4a73b1.jpg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Puma, Catwalk & more</div>
                                                <div class="_2tDhp2">50-70% Off</div>
                                                <div class="_3khuHA">Grab your Best Today</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/430ed42b64108015.jpg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Allen Solly, U.S. POLO, UCB...</div>
                                                <div class="_2tDhp2">FROM ₹99 ONLY</div>
                                                <div class="_3khuHA">Top Brands at Deep Discounts!</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/m-praw20pn004a-provogue-original-imafxs39zfg4ge4e.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Provogue, Metronaut & More</div>
                                                <div class="_2tDhp2">Steal Deals</div>
                                                <div class="_3khuHA">Mens Tshirts, Jeans & More</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/m-top05055-faballey-original-imagf25wh5hyh2fe.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Tops, Dresses, Bra, Nighties</div>
                                                <div class="_2tDhp2">50 - 80% Off</div>
                                                <div class="_3khuHA">Tokyo Talkies, Amante, Clovia...</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/32-kmjnrl240-proctor-numero-uno-original-imafzgkmadgrvxmg.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Killer, Spykar, Flying Machine..</div>
                                                <div class="_2tDhp2">55-70% Off</div>
                                                <div class="_3khuHA">Jeans at Crazy Prices</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="_35l9rN rek5UH _1tKnHb">
                                <div class="_2kgArB _3y7w9p" id="slider-a-2">
                                    <svg width="14.6" height="24" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class=""><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="_23HYg_"></path></svg>
                                </div>
                            </div>
                            <div class="_35l9rN _31Mq1b">
                                <div class="_2kgArB _2CP_Bu" id="slider-a-1">
                                    <svg width="14.6" height="24" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="_1xtBwk"><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="_23HYg_"></path></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="_1AtVbE  _1AtVbE-1 col-12-12" style="padding:0px 0px 10px 0px">
        <div class="_2_b_Xk row">
            <div class="_2LURSF col col-4-12">
                <a class="_1AcS-S" href="#">
                    <div class="_1bEAQy" style="padding-top:53.646%;width:100%">
                        <img class="_2OHU_q aA9eLq" alt="realme 8 " src="~/Content/UploadedImages/Images/never-before-offer.jpg">
                    </div>
                </a>
            </div>
            <div class="_2LURSF col col-4-12">
                <a class="_1AcS-S" href="#">
                    <div class="_1bEAQy" style="padding-top:53.646%;width:100%">
                        <img class="_2OHU_q aA9eLq" alt="tv" src="~/Content/UploadedImages/Images/exciting-tv.jpg">
                    </div>
                </a>
            </div>
            <div class="_2LURSF col col-4-12">
                <a class="_1AcS-S" href="#">
                    <div class="_1bEAQy" style="padding-top:53.646%;width:100%">
                        <img class="_2OHU_q aA9eLq" alt="Samsung F62" src="~/Content/UploadedImages/Images/samsung-phone.jpg">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="banner-pt">
    <div class="_1YokD2 _2GoDe3">
        <div class="_1AtVbE" style="flex-grow: 1; overflow: auto; padding: 0px 0px 10px;">
            <div class="_3E8aIl KdL3Vb _1Zogjd">
                <div class="_2JQgSY" style="background-image: url('https://localhost:44353/Content/UploadedImages/Images/Layers-blue.jpg');
        background-position: 0px bottom;
    ">
                    <div class="_2CIhCB">
                        <h2 class="_2cAig-">Top Offers</h2>
                        <div class="_30kJiF">
                            <a class="_2KpZ6l _3dESVI" href="#">VIEW ALL</a>
                        </div>
                    </div>
                </div>
                <div class="_1oHPGm">
                    <div class="_3ZYowz _2CfYpZ" style="">
                        <div class="mYI3GX mYI3GX-slider" id="mYI3GX-3">
                            <div class="_2hKRMr _2CfYpZ" style="width: 1866px;">
                                <div class="_37K3-p" style="transform: translateX(0px);">
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="Top 4K Televisions (From ₹23,999)" src="~/Content/UploadedImages/Images/3c49d93d5f07f5ed.jpg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Top 20 Trimmers</div>
                                                <div class="_2tDhp2">From ₹399</div>
                                                <div class="_3khuHA">Mi, Philips & more</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/sb161001-b22-led-smitch-original-imafkdzkzradj5bb.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Smitch Smartlights</div>
                                                <div class="_2tDhp2">From ₹199</div>
                                                <div class="_3khuHA">Works with Google Assistant</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/lenovo-za5g0047in-original-imafp4w7qvpnprv5.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Top 20 Tablets</div>
                                                <div class="_2tDhp2">Upto 45% Off</div>
                                                <div class="_3khuHA">Best Sellers | Top Deals</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/epson-ecotank-l3150-l3150-original-imafk8fyxjggzchg.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Best Deals On Printers</div>
                                                <div class="_2tDhp2">Upto 45% off</div>
                                                <div class="_3khuHA">Top Rated Printers</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/tp-link-wireless-n-original-imaf5j9wj4vfudfn.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Routers and  UPS</div>
                                                <div class="_2tDhp2">From ₹799</div>
                                                <div class="_3khuHA">TP-Link, APC & more</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/sdcz50-032g-sdcz50-032g-i35-sandisk-original-imagfc7rdywypccr.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Pendrives and Memory Cards</div>
                                                <div class="_2tDhp2">From ₹459</div>
                                                <div class="_3khuHA">HP, SanDisk & more</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/hp-smart-ac-original-imaf7wsxzky3zafp.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Laptop Adapters</div>
                                                <div class="_2tDhp2">From ₹199</div>
                                                <div class="_3khuHA">HP, Dell, Lenovo & More</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="_3YgSsQ">
                                        <div class="">
                                            <a title="From ₹23,999" class="_6WQwDJ T88g6k" href="#">
                                                <div class="_10pg75">
                                                    <div class="CXW8mj">
                                                        <img class="_396cs4 _3exPp9" alt="" src="~/Content/UploadedImages/Images/hp-original-imafzgdgcbtxvjka.jpeg">
                                                    </div>
                                                </div>
                                                <div class="_3LU4EM">Best Budget Laptops</div>
                                                <div class="_2tDhp2">Under ₹40,000</div>
                                                <div class="_3khuHA">Celeron, Pentium & More</div>
                                                <div class="_2LaGin"></div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="_35l9rN rek5UH _1tKnHb">
                                <div class="_2kgArB _3y7w9p" id="slider-a-2">
                                    <svg width="14.6" height="24" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class=""><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="_23HYg_"></path></svg>
                                </div>
                            </div>
                            <div class="_35l9rN _31Mq1b">
                                <div class="_2kgArB _2CP_Bu" id="slider-a-1">
                                    <svg width="14.6" height="24" viewBox="0 0 16 27" xmlns="http://www.w3.org/2000/svg" class="_1xtBwk"><path d="M16 23.207L6.11 13.161 16 3.093 12.955 0 0 13.161l12.955 13.161z" fill="#fff" class="_23HYg_"></path></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="_1AtVbE _1AtVbE-1 col-12-12" style="padding:0px 0px 10px 0px">
        <div class="_2_b_Xk row">
            <div class="_2LURSF col col-4-12">
                <a class="_1AcS-S" href="#">
                    <div class="_1bEAQy" style="padding-top:53.646%;width:100%">
                        <img class="_2OHU_q aA9eLq" alt="realme 8 " src="~/Content/UploadedImages/Images/never-before-offer.jpg">
                    </div>
                </a>
            </div>
            <div class="_2LURSF col col-4-12">
                <a class="_1AcS-S" href="#">
                    <div class="_1bEAQy" style="padding-top:53.646%;width:100%">
                        <img class="_2OHU_q aA9eLq" alt="tv" src="~/Content/UploadedImages/Images/exciting-tv.jpg">
                    </div>
                </a>
            </div>
            <div class="_2LURSF col col-4-12">
                <a class="_1AcS-S" href="#">
                    <div class="_1bEAQy" style="padding-top:53.646%;width:100%">
                        <img class="_2OHU_q aA9eLq" alt="Samsung F62" src="~/Content/UploadedImages/Images/samsung-phone.jpg">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container py-4">
    <div class="row">
        <div class="col-md-4">
            <div class="bg-light FreeInsllation text-center">
                <p>FREE DELIVERY &amp; Installation</p>
                across all major cities
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light FreeInsllation text-center">
                <p>Get Extra 20% OFF on all products </p>
                use coupon code MONSOON
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-light FreeInsllation text-center">
                <p>Large Experience Store Network</p>
                20+ Stores across India
            </div>
        </div>
    </div>
</div>
