@model ShivFactory.Business.Repository.UserProfile
@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">


                    <div class="col-md-4 grid-margin stretch-card">
                        
                        <div class="card">
                            <a href="#" class="text-right" value="Edit">Edit</a>
                            <div class="card-body">
                                <h4 class="card-title text-center">Display information</h4>
                                @*<p class="card-title text-left">Display information </p>*@

                                <div class="form-group-lg">
                                    <label>
                                        Display Name<span style="color:red">*</span>

                                        <span style="color:grey">Shiv Factory</span>
                                    </label>
                                </div>

                                <div class="form-group-lg">
                                    <div class="form-group-lg">
                                        <label>
                                            Business Description<span style="color:red">*</span>

                                            <span style="color:grey">Qrologic</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 grid-margin stretch-card">
                  
                        <div class="card">
                            <a href="#" class="text-right" value="Edit">Edit</a>
                            <div class="card-body">
                                <h4 class="card-title text-center">Pick-Up Address</h4>
                                @*<p class="card-title text-left">Display information </p>*@

                                <div class="form-group-lg">
                                    <label>
                                        Address Line1

                                        <span style="color:grey">Shiv Factory</span>
                                    </label>

                                    <label>
                                        Address Line2

                                        <span style="color:grey">Shiv Factory</span>
                                    </label>

                                    <label>
                                        PinCode<span style="color:red">*</span>

                                        <span style="color:grey">302004</span>
                                    </label>

                                    <label>
                                        Pick-Up City<span style="color:red">*</span>

                                        <span style="color:grey">JAIPUR</span>
                                    </label>
                                </div>

                                <div class="form-group-lg">
                                    <div class="form-group-lg">
                                        <label>
                                            Business Description<span style="color:red">*</span>

                                            <span style="color:grey">Qrologic</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 grid-margin stretch-card">
                      
                        <div class="card">
                            <a href="#" class="text-right" value="Edit">Edit</a>
                            <div class="card-body">
                                <h4 class="card-title text-center">Display information</h4>
                                @*<p class="card-title text-left">Display information </p>*@

                                <div class="form-group-lg">
                                    <label>
                                        Display Name<span style="color:red">*</span>

                                        <span style="color:grey">Shiv Factory</span>
                                    </label>
                                </div>

                                <div class="form-group-lg">
                                    <div class="form-group-lg">
                                        <label>
                                            Business Description<span style="color:red">*</span>

                                            <span style="color:grey">Qrologic</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                </div>
            </div>
        </div>
    </div>
                           
