@model ShivFactory.Business.Repository.Website.HomePageResponse
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_WebSiteLayout.cshtml";
}

@Html.Partial("_Index", Model);
@*<div id="Product-slider"></div>*@

@*<section class="padding-bottom-sm bg-white  mb-3 pb-3 pt-0">
        <div class=" container">
            <header class="section-heading pt-3 pb-2">
                <h3 class="section-title text-center">Bedsheet </h3>
            </header>
            <div class="card-deal px-1">
                <div class="allitem-slider owl-carousel owl-button">


                    <div class="item">
                        <figure class="card-product-grid card-sm">
                            <a href="#" class="img-wrap"> <img src="images/items/9.jpg"> </a>
                            <div class="text-wrap">
                                <a href="#" class="title">Ferguson Bed With Storage</a>
                                <div class="price mt-1"><i class="fas fa-rupee-sign"></i> 179.00 <s class="old-rrice"><i class="fas fa-rupee-sign"></i> 200</s></div>
                                <div class="add-cart pt-1"></div>
                                <span class="badge badge-danger"> -20% </span>
                            </div>
                        </figure>
                    </div>


                </div>
            </div>
        </div>
    </section>*@

<script type="text/javascript">
    //$(document).ready(function () {
    //    Listing.BindIndexPage();        
    //});
</script>
