@model IEnumerable<ShivFactory.Business.Repository.MemberDetails>
@{

    ViewBag.Title = "grid";

    WebGrid grid = new WebGrid(Model);

}
<style type="text/css">
    .table {
        margin: 4px;
        border-collapse: collapse;
        width: 300px;
    }

    .header {
        background-color: gray;
        font-weight: bold;
        color: #fff;
    }

    .table th, .table td {
        border: 1px solid black;
        padding: 5px;
    }
</style>
<script src="~/Content/Website/js/jquery-2.0.0.min.js"></script>
<script type="text/javascript">

    var pageIndex = 1;
    var pageCount;

    $(function ($) {
        $('#dvGrid').bind('scroll', function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight) {
                GetRecords();
            }
        })
    });


    //Function to make AJAX call to the Jsonresult
    function GetRecords() {
        debugger;
        pageIndex++;
        if (pageIndex == 2 || pageIndex <= pageCount) {

            //Show Loader
            if ($("[id$=Grid1] .loader").length == 0) {
                var row = $("[id$=Grid1] tr").eq(0).clone(true);
                row.addClass("loader");
                row.children().remove();
                row.append('<td colspan = "999" style = "background-color:white"><img id="loader" alt="" src="103.gif" /></td>');
                $("[id$=Grid1]").append(row);
            }
            $.ajax({
                type: "POST",
                url: "/Home/GetCustomers",
                data: '{pageIndex: ' + pageIndex + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    console.log(response); 
                    //alert(response.d);
                },
                error: function (response) {
                    console.log(response); 
                   // alert(response.d);
                }
            });
        }
    }

    function OnSuccess(response) {
        $("[id$=Grid1] .loader").remove();
        $.each(response, function (j, dataval) {
            console.log(response); 
            $("#Grid1").append('<tr><td>' + dataval.RowNumber + '</td> <td>' + dataval.FirstName + ' </td>'

                + '<td>' + dataval.MiddleName + ' </td> <td>' + dataval.LastName + ' </td> </tr>');

            // here we are adding option for States
            pageCount = dataval.PageCount;
        });

        //Hide Loader
        $("#loader").hide();
    }

</script>

<h2>Grid</h2>


<div id="dvGrid" style="height: 150px; overflow: auto; width: 517px">

    @grid.GetHtml(
    htmlAttributes: new { id = "Grid1" },
    tableStyle: "table",
    fillEmptyRows: false,
    headerStyle: "header",
    columns: new[]
    {
        grid.Column("RowNumber"),
        grid.Column("FirstName"  ),
        grid.Column("MiddleName"),
        grid.Column("LastName"),
   })

</div>
