
<article class="filter-group">
    <h6 class="title"> <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1-1"> Product type </a> </h6>
    <div class="filter-content collapse" id="collapse_1-1" style="">
        <div class="inner">
            <ul class="list-menu">
                <li><a href="#">Shorts </a></li>
                <li><a href="#">Trousers </a></li>
                <li><a href="#">Sweaters </a></li>
                <li><a href="#">Clothes </a></li>
                <li><a href="#">Home items </a></li>
                <li><a href="#">Jackats</a></li>
                <li><a href="#">Somethings </a></li>
            </ul>
        </div>
        <!-- inner.// -->
    </div>
</article>
<article class="filter-group">
    <h6 class="title"> <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1-2"> Price range </a> </h6>
    <div class="filter-content collapse " id="collapse_1-2">
        <div class="inner">
            <input type="range" class="custom-range" min="0" max="100" name="">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Min</label>
                    <input class="form-control" placeholder="$0" type="number">
                </div>
                <div class="form-group text-right col-md-6">
                    <label>Max</label>
                    <input class="form-control" placeholder="$1,0000" type="number">
                </div>
            </div>
            <!-- form-row.// -->
            <button class="btn btn-block btn-primary">Apply</button>
        </div>
        <!-- inner.// -->
    </div>
</article>
<article class="filter-group">
    <h6 class="title"> <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1-3"> Brands </a> </h6>
    <div class="filter-content collapse " id="collapse_1-3">
        <section id="search">
            <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only"></span></label>
            <input id="search-input" class="form-control input-lg" placeholder="Search Brand" autocomplete="off" spellcheck="false" autocorrect="off" tabindex="1">
            <a id="search-clear" href="#" class="fa fa-times-circle hide" aria-hidden="true"><span class="sr-only">Clear search</span></a>
        </section>
        <div class="inner">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <div class="custom-control-label">Adidas <b class="badge badge-pill badge-light float-right">120</b> </div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <div class="custom-control-label">Nike <b class="badge badge-pill badge-light float-right">15</b> </div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <div class="custom-control-label">The Noth Face <b class="badge badge-pill badge-light float-right">35</b> </div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" checked="" class="custom-control-input">
                <div class="custom-control-label">The cat <b class="badge badge-pill badge-light float-right">89</b> </div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">Honda <b class="badge badge-pill badge-light float-right">30</b> </div>
            </label>
        </div>
        <!-- inner.// -->
    </div>
</article>
<article class="filter-group">
    <h6 class="title"> <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1-4"> CUSTOMER RATINGS </a> </h6>
    <div class="filter-content collapse " id="collapse_1-4">
        <div class="inner">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">4★ & above</div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">3★ & above</div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">2★ & above</div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">1★ & above</div>
            </label>
        </div>
        <!-- inner.// -->
    </div>
</article>
<article class="filter-group">
    <h6 class="title"> <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1-5"> SIZE </a> </h6>
    <div class="filter-content collapse " id="collapse_1-5">
        <div class="inner">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">Double</div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">Single</div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">Double King</div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">King</div>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <div class="custom-control-label">Crib</div>
            </label>
        </div>
        <!-- inner.// -->
    </div>
</article>

