@model ShivFactory.Business.Repository.UserProfile
@{
    ViewBag.Title = "Enter Your Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-rounded row">
                                <div class="col-md-1" style="margin-top:27px;">
                                    <i style="color: blueviolet;" class="mdi mdi-webpack menu-icon"></i>
                                </div>
                                <div class="col-md-9">
                                    <h3>Account</h3>
                                    <div>
                                        <p>
                                            View your display information, pickup address, login detail and primary
                                            details
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2"><input type="button" style="margin-top:27px" class="btn- btn-primary" value="View" onclick="common.RenderPartialView('Home','AccountDetails')" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-rounded row">
                                <div class="col-md-1" style="margin-top:27px;">
                                    <i style="color: blueviolet;" class="mdi mdi-webpack menu-icon"></i>
                                </div>
                                <div class="col-md-9">
                                    <h3>Bank Details</h3>
                                    <div>
                                        <p>
                                            View your Bank  information, Settelment charges ,  detail and primary
                                            details
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2"><input type="button" style="margin-top:27px" class="btn- btn-primary" value="View" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                         
                        </div>
                    </div>
                </div>
</div>



@*<script src="~/Content/JS/CommonFunction.js"></script>

<script src="~/Content/JS/jquery-3.5.1.js"></script>
<script src="~/Content/JS/Common.js"></script>

<script src="~/Content/JS/js-dashboard.js"></script>
<script src="~/Content/JS/js-settings.js"></script>
<script src="~/Content/JS/chart.js-Chart.min.js"></script>
<script src="~/Content/JS/js-vendor.bundle.base.js"></script>

<link href="~/Content/CSS/css-font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/CSS/buttons.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/CSS/demo_3-style.css" rel="stylesheet" />
<link href="~/Content/CSS/css-materialdesignicons.min.css" rel="stylesheet" />*@
