@model List<ShivFactory.Business.Repository.Website.MenuResponse>
@{
    ViewBag.Title = "CategoryPartialview";
}


@foreach (var a in Model)
{
    if (a.SubCategory.Count == 0 || a.SubCategory == null)
    {

    }
    else
    {

        <div class="dropdown widget-header mr-1 mr-lg-0 profilelogin">
            <a href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="widget-view dropdown-toggle">

                <div class="nav-profile-text">
                    <p class="text">@a.Name</p>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <div class="arrow-up">
                    <img src="img/arrow-up.png">
                </div>
                <div>
                    <li class="desktop-oddColumnContent">
                        <ul class="desktop-navBlock">

                            @foreach (var b in a.SubCategory)
                            {
                                <li>
                                    <a href="~/Home/ProductListing?subId=@b.Id" style="color:#ee5f73;" class="desktop-categoryName">@b.Name</a>
                                </li>

                                @foreach (var c in b.MiniCategory)
                                {
                                    <li>
                                        <a href="~/Home/ProductListing?subId=@b.Id&minId=@c.Id" class="desktop-categoryName">@c.Name</a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    }

}