
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/CSS/demo_3-style.css" rel="stylesheet" />
<link href="~/Content/toastr.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<style>
    body{
        padding:0px;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    <section>
        <header class="header-logo">
            <img src="/Content/AdminImg/shiv  factory logo.png">
        </header>



        <div class="sc-fzolej jazogj">
            <div class="sc-fzojmp kyojis">
                <div class="sc-fzqbkg fckjvf">
                    <div class="sc-fzqpzz gliaon">Create your Seller Account</div>
                    <div class="sc-fzpkqz foxupi">
                        <div class="sc-fzoxkx craeze">
                            <button class="labelbtn">+91 - </button>
                            <form>
                                <div class="style-elementwrapper ijsebp wrapper">
                                    
                                    <input placeholder=" Enter Your Mobile Number" name="phoneno"oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number"  maxlength="10" class="styles-styledinput gezlls quantity" value="" style="padding: 0px 105px 0px 40px;">
                                    <div class="sc-fzqmdd fzqonm freebie">Please enter a valid 10 digit Mobile Number</div>
                                </div>
                                <div class="style-elementwrapper ijsebp">
                                    <button disabled="" class="basebutton primarybtn-primarybtndetails eazyuu showbtn">Send OTP</button>
                                </div>
                            </form>
                        </div>
                        <div class="sc-fzoxkx craeze">
                            <form>
                                <div class="style-elementwrapper ijsebp wrapper">
                                    <input placeholder="Enter OTP" name="otpno" type="number" class="styles-styledinput gezlls" value="">

                                    <div class="error-formerror myzbk form-error">
                                    </div>
                                    <div class="sc-fzqaui eogdzk">We have sent an One Time Password (OTP) in a SMS to this mobile number.</div>
                                </div>
                            </form>
                        </div>
                        <form>
                            <div class="style-elementwrapper ijsebp wrapper">
                                <input placeholder="Enter Your Email Address" name="email" type="text" class="styles-styledinput gezlls" value="">
                                <div class="error-formerror myzbk form-error">
                                </div>
                            </div>
                        </form>
                        <form>
                            <div class="style-elementwrapper ijsebp wrapper">
                                <input placeholder="Enter Your Full Name" name="user_name" type="text" class="styles-styledinput gezlls" value="">
                                <div class="error-formerror myzbk form-error">
                                </div>
                            </div>
                        </form>
                        <div class="sc-fzoxkx craeze">
                        </div>
                        <div class="sc-fznyyp kdoamq">
                            <div class="sc-fzqaui eogdzk">
                                By filling this form, I agree to <a class="baselink-sc tertiarylink-sc enzijk" style="cursor: pointer;">Terms of Use</a>
                            </div>
                        </div>
                        <button disabled="" class="basebutton primarybtn-primarybtndetails eazyuu save" type="submit" style="height: 40px; padding-left: 15px; padding-right: 16px; text-transform: uppercase;">Sign Up</button>
                        <div class="sc-fzpiso jhqzjv">
                            <div class="sc-fzqaui eogdzk">
                                Already a Seller? <a href="#" class="baselink-sc tertiarylink-sc enzijk">Login Here</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="sc-fazpkjw hctkjm">
                    <div>
                        <div class="sc-fzokki knkljw">Sell to crores of customers on Shiv Factory, right from your doorstep!</div>
                        <div class="sc-fzoyki hfpotr">All you need to sell on Shiv Factory is</div>
                        <div class="sc-fznzof jxqfab">
                            <div class="sc-fzoyhe gxatj">
                                <div class="imp-icon">
                                    <img src="/Content/AdminImg/gstin.png">
                                    <div class="gstin-label">GSTIN*</div>
                                </div>
                                
                                
                            </div>
                            <div class="sc-fzqmaw himzko">
                            </div>
                            <div class="sc-fzoyhe gxatj">
                                <div class="imp-icon">
                                    <img src="/Content/AdminImg/bank-account.png">
                                    <div class="gstin-label">Bank Account</div>
                                </div>
                                
                            </div>
                            <div class="sc-fzqmaw himzko"></div>
                            <div class="sc-fzoyhe gxatj">
                                <div class="imp-icon">
                                    <img src="/Content/AdminImg/products-sell.png">
                                    <div class="gstin-label">Products to sell</div>
                                    </div>
                                </div>
                            </div>
                        <span class="sc-fznmnq bivoqy">*GSTIN is not required for sellers who only sell books</span>
                        <div class="sc-fzoydu ctzjfv"></div>
                        <div class="sc-fzoyki hfpotr">How will this information be used?</div>
                        <div class="sc-fzqabl hculgs">You can use your email address or mobile number as 'Username' to login to your  Seller Account. 
                        Please note, the 'Username' and 'Password' used here are only to access your  Seller Account and can’t be used on ShivFactory shopping destination.</div>
                        <div class="sc-fzoydu ctzjfv">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $(function () {
            $('.quantity').on('input', function () {
                var states = ['hide', 'show'],    //possible states of the freebie div
                    i = +this.value > 0 ? 1 : 0; //determine index of the states array
                $('.freebie')[states[i]]();      //example $('.freebie')['hide']() is equiv to $('.freebie').hide()
            })
                .trigger('input');
            //when using buttons to increment and decrement
            $('.increase,.decrease').on('click', function () {
                var diff = $(this).is('.increase') ? 1 : +10; //determin whether to decrement or increment
                $('.quantity').val(function () {
                    return +this.value + diff; //decrement or increment
                });
                $('.quantity').trigger('input'); //manually trigger the 'input' event or whatever event triggers the freebies div to show
            });
        });
    </script>
</body>
</html>
