
@{
    ViewBag.Title = "NavPartialView";    
}

<nav class="bottom-navbar">
    <div class="container">
        <ul class="nav page-navigation">
            <li class="nav-item">
                <a class="nav-link" href="~/Admin/Admin/Index">
                    <i class="mdi mdi-home menu-icon"></i>
                    <span class="menu-title">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                    <span class="menu-title">Shopping</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="~/Admin/Admin/Category">Category</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Admin/Admin/SubCategory">Sub Category</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Admin/Admin/MiniCategory">Mini Category</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Admin/Admin/Brand">Brand</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Admin/Admin/Banner">Banner</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Admin/Admin/Dimension">Dimension Master</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Admin/Admin/Weight">Weight Master</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Admin/Admin/Color">Color Master</a></li>

                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    @*<i class="mdi mdi-crosshairs-gps menu-icon"></i>*@
                    <span class="menu-title">Listing</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="~/Admin/Admin/Products">Products</a></li>
                        <li class="nav-item"><a class="nav-link" href="advanced_elements.html">SubCategory List</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    @*<i class="mdi mdi-clipboard-text menu-icon"></i>*@
                    <span class="menu-title">Customers</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="basic_elements.html">Vendors</a></li>
                        <li class="nav-item"><a class="nav-link" href="advanced_elements.html">Customers</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-chart-bar menu-icon"></i>
                    <span class="menu-title">Data</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="basic_elements.html">Basic Elements</a></li>
                        <li class="nav-item"><a class="nav-link" href="advanced_elements.html">Advanced Elements</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-content-copy menu-icon"></i>
                    <span class="menu-title">Sample Pages</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="basic_elements.html">Basic Elements</a></li>
                        <li class="nav-item"><a class="nav-link" href="advanced_elements.html">Advanced Elements</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="mdi mdi-webpack menu-icon"></i>
                    <span class="menu-title">Apps</span>
                    <i class="menu-arrow"></i>
                </a>
                <div class="submenu">
                    <ul class="submenu-item">
                        <li class="nav-item"><a class="nav-link" href="kanban-board.html">Kanban board</a></li>
                        <li class="nav-item"><a class="nav-link" href="email.html">Email</a></li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a href="documentation.html" class="nav-link" target="_blank">
                    <i class="mdi mdi-file-document-box menu-icon"></i>
                    <span class="menu-title">Documentation</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

