@model ShivFactory.Business.Repository.Admin.ProductBasicInfoResponse
@{
    Layout = null;
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title text-center">Display information</h4>
                                <div class="form-group-lg">
                                    <label>
                                        Display Name
                                    </label>
                                    <span style="color:grey">Shiv Factory</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>