
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid page-body-wrapper">
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">@ViewBag.Title</h4>

                            <div class="col-lg-3 col-sm-3">
                                <div class="form-group">
                                    <label>Approved Status</label>
                                    <select name="product" id="productStatus" class="form-control">
                                        <option>Pending</option>
                                        <option value="false">Cancel</option>
                                        <option value="true">Approved</option>
                                    </select>
                                </div>
                            </div>
                            <div class="partialView">
                                @{ Html.RenderPartial(Url.Content("UnApprovedProductPartialView")); }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>