@using ShivFactory.Business.Repository
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    JObject obj = JObject.Parse(JsonConvert.SerializeObject(new SubCategoryResponse(), Formatting.Indented, new JsonSerializerSettings
    { PreserveReferencesHandling = PreserveReferencesHandling.Objects }));
    obj.Remove("$id");

    List<string> termsList = new List<string>();
    foreach (var columnName in obj)
    {
        termsList.Add(columnName.Key.Trim());
    }
    string[] columnArray = termsList.ToArray();
    ViewBag.Title = "SubCategoryPartialView";
}
<div class="row overflow-auto">
    <div class="col-12" id="TableDiv">
    </div>
</div>

<script>
    $(document).ready(function () {
        var list = [
            { Name: 'Edit', Value: '/Admin/Admin/AddSubCategory', Header: "Edit", ActionLink: "true" },
            { Name: 'AssignVarients', Value: 'Admin.GetSubCategoryVarients(this);', Header: "Varients" },
            { Name: 'Delete', Value: 'Admin.DeleteSubCategory(this);', Header: "Delete" },

        ];
         var stringArray = @Html.Raw(Json.Encode(columnArray));

        common.BindDatatable('TableDiv', '/Admin/Admin/LoadSubCategoryData', stringArray, 'Id', list);
    });
</script>


@*<div class="row overflow-auto">
        <div class="col-12">
            <table class="table datatable" cellspacing="0" width="100%" id="serverSideTable">
                <thead>
                    <tr class="bg-primary text-white">
                        @foreach (var columnName in obj)
                        {
                            if (columnName.Key.Trim() != "Id")
                            {
                                <th>@columnName.Key.Trim()</th>
                            }
                        }
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <script>
       $(document).ready(function () {

            var stringArray = @Html.Raw(Json.Encode(columnArray));

           commonFunction.GetColumnArray(stringArray, true, '/Admin/Admin/AddSubCategory','Admin.DeleteSubCategory', function (result) {
                common.BindServerSideTable('#serverSideTable', result, '/Admin/Admin/LoadSubCategoryData');
            })
        });
    </script>*@