@using ShivFactory.Business.Repository.Admin
@using Newtonsoft.Json;
@using Newtonsoft.Json.Linq;
@{
    JObject obj = JObject.Parse(JsonConvert.SerializeObject(new UnApprovedProductResponse(), Formatting.Indented, new JsonSerializerSettings
    { PreserveReferencesHandling = PreserveReferencesHandling.Objects }));
    obj.Remove("$id");

    List<string> termsList = new List<string>();
    foreach (var columnName in obj)
    {
        termsList.Add(columnName.Key.Trim());
    }
    string[] columnArray = termsList.ToArray();

    ViewBag.Title = "UnApprovedProductPartialView";
}

<div class="row overflow-auto">
    <div class="col-12" id="TableDiv">
    </div>
</div>

<script>
    $(document).ready(function () {
        var list = [
            { Name: 'View', Value: 'Admin.GetProductImages(this);', Header: "Image" },
            { Name: 'View', Value: 'Admin.GetProductBasicInfo(this);', Header: "BasicInfo" },
            { Name: 'View', Value: 'Admin.GetProductDetails(this);', Header: "Details" },
            { Name: 'View', Value: 'Admin.GetProductDimension(this);', Header: "Dimension" },
            { Name: 'Approved', Value: 'Admin.ApprovedProduct(this);', Header:"Approved" },
            { Name: 'UnApproved', Value: 'Admin.UnApprovedProduct(this);', Header: "UnApproved" }
        ];
         var stringArray = @Html.Raw(Json.Encode(columnArray));

        Admin.BindProducttable('TableDiv', '/Admin/Admin/LoadProductData', stringArray, 'Id', list);
    });
</script>