@model IEnumerable<DataLibrary.DL.WeightMaster>
@{
    ViewBag.Title = "WeightPartialView";
}

<div class="row overflow-auto">
    <div class="col-12">
        <table class="table datatable" cellspacing="0" width="100%">
            <thead>
                <tr class="bg-primary text-white">
                    <th>Sr No.</th>
                    <th>Weight Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @{int index = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@index</td>
                            <td>@item.Name</td>
                            <td>
                                <button class="btn btn-light">
                                    <i class="mdi mdi-database-edit text-primary"></i>
                                    @Html.ActionLink("Edit", "AddWeight", new { Area = "Admin", id = item.Id })
                                </button>
                                <button class="btn btn-light" onclick="Admin.DeleteWeight(@item.Id);">
                                    <i class="mdi mdi-close text-danger">Delete</i>
                                </button>
                            </td>
                        </tr>
                        index++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.datatable').DataTable();
    });
</script>